.base-create form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.base-create form input {
    border-radius: 5px;
    width: 100%;
}

.base-create {
    width: 60%;
    margin: 0 auto;
}

section.section-credentials {
    width: 100%;
}

.card-pagamento {
    padding: 15px;
    background: white;
    border-radius: 10px;
    width: 310px;
    box-shadow: 0px 0px 6px #0000001f;
}

.body-card-pagamentos {
    padding: 40px 0;
}

h4.title-pagamento {
    font-weight: 700;
    color: var(--blue-color);
}

p.number-credenciais {
    padding: 0;
}

p.credenciais {
    padding: 0;
    margin: 0;
}

.status {
    display: flex;
    justify-content: right;
}