.buttons-actions-grid {
    display: flex;
    column-gap: 10px;
    padding: 15px 0;
    width: 100%;
}

.space-btn-pages-produtos a {
    background: var(--blue-color);
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    color: var(--branco-roxo);
}

section.body-produtos {
    width: 80%;
}

h2.title-page {
    text-align: center;
    color: var(--clr);
}


/* CHECKBOX DIREITA E ESQUERDA
 */

 .body-check-input {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}
 .switch-input-check {
    position: relative;
    display: inline-block;
  }
  .switch-input {
    display: none;
  }
  .switch-label {
    display: block;
    width: 48px;
    height: 24px;
    text-indent: -150%;
    clip: rect(0 0 0 0);
    color: transparent;
    user-select: none;
  }
  .switch-label::before,
  .switch-label::after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
  }
  .switch-label::before {
    width: 100%;
    height: 100%;
    background-color: #dedede;
    border-radius: 9999em;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
  }
  .switch-label::after {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    -webkit-transition: left 0.25s ease;
    transition: left 0.25s ease;
  }
  .switch-input:checked + .switch-label::before {
    background-color: #89c12d;
  }
  .switch-input:checked + .switch-label::after {
    left: 24px;
  }
  
/* CARD DOS PRODUTOS */

.card-product {
    width: 100%;
    display: grid;
    grid-template-columns: 100px auto;
    column-gap: 10px;
    height: 65px;
    box-shadow: 0px 3px 8px #0000001f;
    padding: 10px;
    border-radius: 5px;
}
.space-img-ja-existente {
    display: flex;
    column-gap: 5px;
}
.space-img {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.space-img-news-images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    column-gap: 5px;
    flex-direction: row-reverse;
}

img.img-product {
    max-width: 90px;
    max-height: 100%;
    object-fit: cover;
}

.dados-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-variacoes {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.base-variacoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3.title-products {
    padding: 0;
    margin: 0;
}

.btn-options {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
}

span.type-produtcts-edition {
    background: #80808030;
    height: 35px;
    border: solid 1px var(--clr);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: no-drop;
}

.btn-option-icon {
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.body-products-card {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.space-all-images {
    padding: 10px 0;
    border-top: solid 2px var(--clr);
    border-bottom: solid 2px var(--clr);
}

.btn-edit{
    background-color: var(--yellow);
    color: var(--clr);
    color: var(--branco-roxo);
}

.btn-delete{
    background-color: var(--red);
    color: var(--clr);
    color: var(--branco-roxo);
}

.base-img {
    position: relative;
    height: 65px;
}
.del-ask-img {
    position: absolute;
    right: -10px;
    top: -9px;
    font-size: 22px;
    color: var(--red);
    cursor: pointer;
}

span.status-product {

    padding: 2px 11px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;

}

.status-ativo{
    background: var(--green);
    color: var(--clr);
}


img.image-produto-form {
    width: 79px;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.base-form {
    display: grid;
    grid-template-columns: auto;
    column-gap: 10px;
    width: 100%;
}

.dados-right-form {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
}

.space-img-produto {
    display: flex;
    column-gap: 5px;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    flex-wrap: wrap;
}

.space-input input[type="text"] {
    width: 100%;
}

.middle-layout-form {
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 10px;
    width: 100%;
}

.body-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: left;
    row-gap: 10px;
    width: 500px;
    align-content: flex-start;
    align-items: flex-start;
}
.grid-dupla-coluna {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    align-items: end;
    justify-content: center;
}

.grid-trio-coluna-check {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 100px;
    column-gap: 10px;
    align-items: end;
    justify-content: center;
}
.select-categoria {
    width: 100%;
}

.input-select-padrao {
    width: 100%;
    height: 35px;
}

span.btn-add-variacao {
    background: var(--blue-color);
    padding: 1px 16px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    color: var(--branco-roxo);
    cursor: pointer;
    border: solid 1px var(--clr);
    margin-top: 10px;
}

.body-variacao-space {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 10px;
    padding-top: 10px;
    /* border-bottom: solid 2px var(--clr); */
    padding-bottom: 10px;
}

.corpo-das-variacoes {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: space-between;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #0000003d;
}

.space-delete {
    width: 100%;
    display: initial;
    justify-content: center;
    display: flex;
}

.atu-delete-inputs, .delete-inputs {
    font-size: 25px;
    cursor: pointer;
    background: var(--red);
    border-radius: 5px;
    padding: 4px 4px;
    color: var(--branco-roxo);
}

/* .content-variacoes {
    border: solid 1px var(--clr);
    padding: 10px 0;
} */

.label-inputs {
    font-size: 13px;
    padding: 0 5px;
    font-weight: 500;
    color: var(--clr);
}
span.obrigatorio-inputs {
    color: var(--red);
}

.style-description {
    resize: none;
    height: 275px;
    padding: 10px;
}

input.btn-criar-produto {
    width: 100%;
    background: var(--green);
    color: var(--branco-roxo);
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
}

.input-file-foto {
    display: none;
}

@media only screen and (max-width: 535px) {

    .grid-trio-coluna-check {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 65px;
        column-gap: 5px;
        align-items: end;
        justify-content: center;
    }
    section.body-produtos {
        width: 100%;
    }

    p.notfy {
        width: 100%;

    }

    .image-produto-form {
        width: 100px;
        height: 100%;
    }

    .corpo-das-variacoes {
        display: flex;
        column-gap: 7px;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .space-delete {
        width: 30px;
        display: initial;
        justify-content: center;
        display: flex;
    }

    .body-variacao-space {
        display: flex;
        grid-template-columns: initial;
        row-gap: 10px;
        flex-direction: column;
        width: 100%;
    }

    .middle-layout-form {
        display: flex;
        grid-template-rows: auto auto auto auto;
        row-gap: 10px;
        width: 100%;
        position: relative;
        flex-direction: column;
    }

    .card-product {
        width: 100%;
        display: grid;
        grid-template-columns: 50px auto;
        column-gap: 5px;
        height: 65px;
        box-shadow: 0px 3px 8px #0000001f;
        padding: 5px;
        border-radius: 5px;
    }

    h3.title-products {
        padding: 0;
        margin: 0;
        font-size: 14px;
    }
    .dados-products {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 5px;
    }
    .btn-options {
        display: flex;
        column-gap: 5px;
        justify-content: space-between;
    }
    span.status-product {
        padding: 4px 8px;
        border-radius: 5px;
        font-weight: 600;
        cursor: pointer;
        font-size: 11px;
    }
    .buttons-actions-grid {
        display: flex;
        column-gap: 10px;
        padding: 15px 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }

    .body-form {
        width: 100%;

    }
    .base-form {
        display: grid;
        grid-template-rows: 130px auto;
        grid-template-columns: none;
        row-gap: 10px;
        width: 100%;
    }

    .grid-dupla-coluna {
        width: 100%;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        column-gap: 10px;
        align-items: end;
        justify-content: inherit;
    }
}