.buttons-actions-grid {
    display: flex;
    column-gap: 10px;
    padding: 15px 0;
    width: 100%;
}

.space-btn-pages-produtos a {
    background: var(--blue-color);
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    color: var(--branco-roxo);
}

section.body-produtos {
    width: 80%;
}

h2.title-page {
    text-align: center;
    color: var(--clr);
}





/* CARD DOS PRODUTOS */

.card-product {
    width: 100%;
    display: grid;
    grid-template-columns: 100px auto;
    column-gap: 10px;
    min-height: 65px;
    box-shadow: 0px 3px 8px #0000001f;
    padding: 10px;
    border-radius: 5px;
}

.space-img {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

img.img-product {
    max-width: 100%;
    max-height: 35px;
    object-fit: cover;
}

.dados-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3.title-products {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.btn-options {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
}

.btn-option-icon {
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.body-products-card {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.btn-edit{
    background-color: var(--yellow);
    color: var(--clr);
    color: var(--branco-roxo);
}

.btn-delete{
    background-color: var(--red);
    color: var(--clr);
    color: var(--branco-roxo);
}

span.status-product {

    padding: 2px 11px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;

}

.status-ativo{
    background: var(--green);
    color: var(--clr);
}

.status-blue{
    background: var(--blue-color);
    color: var(--clr);
}


@media only screen and (max-width: 535px) {
    section.body-produtos {
        width: 100%;
    }

    img.img-product {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    .space-btn-pages-produtos a {
        padding: 5px 5px;
        font-size: 14px;
        display: block;
        width: 100%;
    }

    .card-product {
        width: 100%;
        display: grid;
        grid-template-columns: 50px auto;
        column-gap: 5px;
        min-height: 65px;
        box-shadow: 0px 3px 8px #0000001f;
        padding: 5px;
        border-radius: 5px;
    }

    h3.title-products {
        padding: 0;
        margin: 0;
        font-size: 14px;
    }
    .dados-products {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 5px;
    }
    .btn-options {
        display: flex;
        column-gap: 5px;
        justify-content: space-between;
    }
    .status-product {
        padding: 4px 8px;
        border-radius: 5px;
        font-weight: 600;
        cursor: pointer;
        font-size: 11px;
    }
    .buttons-actions-grid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 10px;
        padding: 15px 0;
        row-gap: 10px;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
}